* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* ************ COLORS ************ */
    --color-primary-blue-10: #1090CB1a;
    --color-primary-blue: #1090CB;
    --color-secondary-white: #FFFFFF;
    --color-neutral-black: #000000;
    --color-neutral-gray: #5C5C5C;

    /* ************ FONTS ************ */
    --font-h1: 35px;
    --font-h2: 30px;
    --font-h3: 25px;
    --font-h4: 18px;
    --font-body: 16px;
    --font-body2: 14px;

    --font-poppins: "Poppins", sans-serif;
}

p {
    color: var(--color-neutral-gray);
    font-family: var(--font-poppins);
    font-size: var(--font-body);
}